@import "src/styles/variables.scss";

.container {
	display: flex;
	flex-direction: column;
	padding-inline: $default-content-padding;
}


.mainContainer {
	display: flex;
	gap: 2em;
}

.descriptionContainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.descriptionContainer {
	margin-block: 0;
	font-size: 1.25rem;
	width: 100%;
	margin-right: 2em;
}

.img{
	border-radius: $default-pill-radius;
}
