$primary-color: #232326;
$secondary-color: #232326;
$font-color: #F3F3F5;
$navbar-padding: 9em;
$lower-nav-margin: 2.5rem;
$navbar-background-color: #19191B;
$gradient: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
$inline-grid-margin: 7rem;
