$navbar-padding: 6em;
$navbar-margin: 4em;
$navbar-background-color: #19191B;


.navbar {
  display: flex;
  border-radius: 2em;
  background-color: $navbar-background-color;
  padding-inline: $navbar-padding;
  margin-inline: $navbar-margin;
  margin-block: 3em;
  height: 4.5em;
  box-shadow: 13px 13px 26px #151517,
  -13px -13px 26px #313135;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.2em;
    font-size: 1.5em;
    font-weight: 1000;
  }
}
