@import "src/styles/variables.scss";

h1 {
	font-size: 3.5rem;
	background: $gradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-inline: 30px;
	padding-block: 5px;
	width: max-content;

}

h2 {
	font-size: 3rem;
	background: $gradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-inline: 30px;
	padding-block: 5px;
	width: max-content;
}

h3 {
	font-size: 2rem;
	background: $gradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-inline: 30px;
	padding-block: 5px;
}


html {
	background-color: $primary-color;
	color: $font-color;
}

p {
	padding-inline: 30px;
	padding-block: 5px;
	font-size: 1.25rem;
}

::-webkit-scrollbar {
	display: none;
}

@media screen and (max-width: 1000px) {
	img {
		display: none;
	}
}


@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes buttonHover {
	
}
