$primary-color: #232321;
$secondary-color: #232326;
$gradient: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);;

main {
  display: flex;
  flex-direction: column;
  color: white;
  margin-inline: 4em;
}

h1 {
  font-size: 2.5em;
  border: #00C9FF 2px solid;
  border-radius: 2em;
  grid-column: span 2;
}

.description {
  border: #00C9FF 2px solid;
  border-radius: 2em;
  font-size: 2em;
  width: 100%;
}

.container {
  display: grid;
  grid-template-rows: minmax(min-content, max-content);
  grid-template-columns: 5fr 5fr;
  border: #00C9FF 2px solid;

}

html {
	background-color: $primary-color;
}

