$default-content-padding: 6em;
$primary-color: #232326;
$secondary-color: #232326;
$font-color: white;
//$gradient: linear-gradient(90deg, rgba(224, 174, 100, 0.97) 10%, rgba(173, 72, 208, 1) 90%);
$gradient: linear-gradient(90deg, rgba(173, 72, 208, 0.97) 10%, rgba(224, 174, 100, 1) 90%);
$background-gradient: linear-gradient(145deg, #252529, #202022);
$box-shadow: 20px 20px 53px #18181a, -20px -20px 53px #2e2e32;
$default-pill-radius: 50px;

