@import "src/styles/variables.scss";

.container :global {
  display: flex;
  flex-direction: column;
  padding-inline: $default-content-padding;
  animation-name: fadeIn;
  animation-duration: $animation-duration;
}


.mainContainer {
  display: flex;
  gap: 2em;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.descriptionContainer {
  margin-block: 0;
  width: 100%;
  margin-right: 2em;
}

.img{
  border-radius: $default-pill-radius;
}

.heading {
  width: max-content;
}

.img {
  border-radius: $default-pill-radius;
  height: 300px;
  width: 250px;
  margin-top: 33px;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  width: max-content;
}

@media screen and (max-width: 1000px) {
  .gridContainer {
    display:flex;
  }
}

@media screen and (min-width: 1000px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }
}
