@import "src/styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  padding-inline: $default-content-padding;
  gap: 2em;
}


.mainContainer {
  display: flex;
  flex-direction: row;
  //gap: 2em;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
}

.descriptionContainer {
  margin-block: 0;
  //margin-right: 2em;
}

.img {
  border-radius: $default-pill-radius;
  height: 100%;
  width: 100%;
  padding: 13px;
}

.imgContainer {
  margin-top: 40px;
  max-height: 350px;
  object-fit: contain;
}

.heading {
  width: max-content;
}

@media screen and (max-width: 1000px) {
  .gridContainer {
    display:flex;
  }
}

@media screen and (min-width: 1000px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }
}