@import "src/styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  padding-inline: $default-content-padding;
  gap: 2em;
}


.mainContainer {
  display: flex;
  flex-direction: row;
  //gap: 2em;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
}

.descriptionContainer {
  margin-block: 0;
  font-size: 1.25rem;
  //margin-right: 2em;
}

.img {
  border-radius: $default-pill-radius;
  height: 100%;
  width: 100%;
  padding: 13px;
}

.imgContainer {
  margin-top: 40px;
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  object-fit: contain;
}
